@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --bgLight: #f8f9fa;
  --myPrimary: #7678ed;
  --myPrimaryDark: #3d348b;
  --mySecondary: #00b4d8;
  --mySecondaryDark: #0077b6;
}

.myNavLink {
  @apply flex items-center gap-2 border-transparent text-sm font-semibold transition-all;
}

.myNavLink:hover {
  @apply hover:border-b-2 hover:border-myPrimary hover:text-myPrimary;
}

.myNavLink.active {
  @apply border-b-2 border-myPrimary text-myPrimary;
}

.myPrimaryBtn {
  @apply flex h-10 items-center justify-center gap-2 rounded-xl bg-myPrimary px-4 py-2 font-semibold text-white transition-all;
}

.myPrimaryBtn:hover {
  @apply hover:bg-myPrimaryDark;
}
/* Disabled */
.myPrimaryBtn:disabled {
  @apply cursor-not-allowed bg-slate-200 text-slate-400;
}

.mySecondaryBtn {
  @apply flex h-10 items-center justify-center gap-2 rounded-xl bg-mySecondary px-4 py-2 font-semibold text-white transition-all duration-300 ease-in-out;
}

.mySecondaryBtn:hover {
  @apply hover:bg-mySecondaryDark;
}

.mySecondaryBtn:disabled {
  @apply cursor-not-allowed bg-slate-200 text-slate-400;
}

.myWhiteBtn {
  @apply flex items-center justify-center gap-2 rounded-xl bg-bgLight px-4 py-2 font-semibold text-black transition-all duration-300 ease-in-out;
}

.myWhiteBtn:hover {
  @apply hover:bg-slate-200 hover:text-black;
}

.myOutlineBtn {
  @apply flex items-center justify-center gap-2 rounded-xl border border-myPrimary px-4 py-2 font-semibold text-myPrimary transition-all duration-300 ease-in-out;
}

.myOutlineBtn:hover {
  @apply hover:bg-myPrimary hover:text-white;
}

.myInput {
  @apply w-full appearance-none rounded-lg border-2 border-gray-200 px-4 py-2 leading-tight text-gray-700 transition-colors focus:border-myPrimary focus:bg-white focus:outline-none;
}

.myCard {
  @apply rounded-lg bg-bgLight p-6 shadow-lg transition-colors duration-300 ease-in-out;
}
